<div class="navbar border  ">
    <span><img src="/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24"></i></span>
    <span ><%= link_to "My list", lists_path(@list) %>  <%= link_to "new list", new_list_path(@list) %></span>
</div>
<div class="container mb-5">
    <h1><%= @list.name %></h1>
    <%=  %>

   <div>
      <ul class= "list-group">
        <% @list.movies.each do |movie| %>
          <li class= "list-group-item">
            <strong><p><%= movie.title %> . <%= movie.rating %></p></strong>
             <p><%= movie.overview %></p>


              <ul class="list-group">
             <% @list.bookmarks.each do |bookmark| %>
            <li><strong><%= bookmark.comment %></strong>
            <%= link_to "delete", list_path(@list), data: {turbo_method: :delete, turbo_confirm: "are you sure"}  %>
            </li>
          <% end %>
        </ul>
          </li>
        <% end %>
      </ul>

    </div>
<%# ------------------------------------------------- %>
  <%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.input :comment %>
  <%= f.association :movie %>
  <%= f.submit %>
  <% end %>

<%# ------------------------------------------------- %>
  <div>
     <%= link_to "Delete this list",list_path(@list),
        data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
      %>
  </div>

</div>
